.text-section {
    column-gap: 97px;
    margin: 160px auto;
}

.text-section-text {
    flex: 2;
}

.text-section-text h2 {
    font-size: 50px;
}

.text-section-text p {
    font-size: 25px;   
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {
    .text-section {
        flex-direction: column;
    }
}
