.button {
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3s ease;
}

/* Primary Button */
.button.primary {
    background-color: #0C70F2;
    color: white;
}

.button.primary:hover {
    background-color: #0A5DC2;
}

/* Secondary Button */
.button.secondary {
    background-color: #1d1d1d;
    color: white;
}

.button.secondary:hover {
    background-color: #333;
}

/* Outline Button */
.button.outline {
    background-color: white;
    color: #0C70F2;
    border: 2px solid #0C70F2;
}

.button.outline:hover {
    background-color: #0C70F2;
    color: white;
}

/*Disabled State*/
.button:disabled, .button:disabled>:hover {
    background-color: #ccc;
    color: #666;
    pointer-events: none;
}