@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Serif+Display:ital@0;1&family=Hubballi&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:wght@700&family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: #292F36;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  
}

/* Cor do Main */
.primary-background {
  background-color: #0C70F2;
}

.primary-color {
  background-color: #0C70F2;
}

.secundary-background {
  background-color: #1D1D1D;
}

.secundary-color {
  background-color: #1D1D1D;
}

.tertiary-background {
  background-color: #F6F6F6;
}

.tertiary-color {
  background-color: #F6F6F6;
}

.grey-1-color {
  color: #4D5053;
}

.margin-left {
  margin-left: 50px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 2.5px;
}

p {
  line-height: 150%;
}

.txt-center {
  text-align: center;
}

/* GRID */
.container {
  margin: 0;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 10rem;
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: end;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .mobile-fd-column {
    flex-direction: column;
  }
}

